spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: user

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true